<nav class="navbar is-transparent" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Shine</a>

        <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">Home</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Glowstone</a>

                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item">Glowstone Server</a>
                    <a class="navbar-item">Glowkit</a>
                </div>
            </div>

            <a class="navbar-item">Plugins</a>
            <a class="navbar-item">API</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a plugin">
                    </div>

                    <div class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{#if user}}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{user.username}}</a>

                <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item">Profile</a>
                    <a class="navbar-item">Preferences</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/logout">Sign out</a>
                </div>
            </div>
        {{else}}
            <a class="navbar-item" href="/login">Sign in</a>
            <a class="navbar-item" href="/register">Register</a>
        {{/if}}
    </div>
</nav>
