<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shine</title>
    {% include 'includes/bootstrapcss.html' %}
  </head>

  <body>
    {% include 'includes/menu.html' %}
    <div class="container-fluid">
      <h1>Shine Index</h1>
      <p>Welcome to <strong>Shine</strong>, Glowstone's in-house download center and plugin repository.</p>
      <p>
        {% if session.user %}
          You are currently logged in as <a href="#">{{session.user.name}}</a>. 
        {% else %}
          You are not currently logged in. <a href="#">Sign in</a> or <a href="#">create an account</a> to submit plugins.
        {% endif %}
      </p>
    </div>

    {% include 'includes/jquery.html' %}{% include 'includes/bootstrapjs.html' %}
  </body>
</html>
