{{#> layouts/base title="Login" }}

    {{#*inline "body"}}
        <div class="section">
            <div class="columns">
                <div class="container column is-half">
                    <h1 class="title">Login</h1>

                    <div class="box">
                        <form method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Username or Email Address">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Password">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}

    {{#*inline "scripts"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    {{/inline}}

{{/layouts/base}}
