<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Shine | {{title}}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
        <link rel="stylesheet" href="/css/common.css">

        {{#> head }}
            {{!-- custom head content from other pages --}}
        {{/head}}
    </head>

    <body>
        {{> menu }}

        {{#> body }}
            {{!-- body content --}}
        {{/body}}

        <script type="text/javascript" src="js/common.js"></script>

        {{#> scripts }}
            {{!-- custom scripts from other pages --}}
        {{/scripts}}
    </body>
</html>
